# hidden directories
.DS_Store
.vscode
.cproject
.project
.settings

# install directories
bin
lib
build

# input output and test directories
Input
Output
Tests

# intermediate or binary results
*.d
*.so
*.pcm
*.log
